/* VARIABLES */
:root {
  --clr-primary-dark: #283842;
  --clr-primary-light: #E4E2DD;
}


/* INITIALIZATION */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  font: inherit;
  /* outline: red 1px solid; */
}

body {
  color: var(--clr-primary-dark);
  background-color: var(--clr-primary-light);
  font-family: 'Sorts Mill Goudy', serif;
  cursor: default;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: var(--clr-primary-light), white;
}

button {
  cursor: pointer;
}

/* TESTING */

.page-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem;
}

.puzzle-title {
  font-size: 2rem;
  text-align: center;
}

.game-container {
  --max-width: 976px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));

  text-align: center;
  margin: 1rem auto;
  border: 1px solid black;
  padding-block: 2rem;
}

.test-page-info {
  --max-width: 976px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));

  text-align: center;
  margin-inline: auto;
  padding-block: 2rem;
}

.moon-button {
  width: 100px;
  height: 50px;
}

.button-off {
  background-color: #444;
  color: #EEE;
}

.button-on {
  background-color: gold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 50px);
  gap: 10px;
  justify-content: center;
  align-content: center;
}

.north {
  grid-area: 1 / 2 / span 1 / span 1;
}

.west {
  grid-area: 2 / 1 / span 1 / span 1;
}

.east {
  grid-area: 2 / 3 / span 1 / span 1;
}

.south {
  grid-area: 3 / 2 / span 1 / span 1;
}

.direction-button:active {
  background-color: lightgreen;
}

.scales-button {
  width: 50px;
  height: 50px;
}

.scales-indicators {
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 1rem auto;
}

.scales-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.scales-indicator-light {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.solve-status-message {
  margin-top: 2rem;
}

/* UTILITY */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
